
.center {
    margin-top: 20px;
    display: block;
    margin-left: 3cm;
    margin-right: 1cm;
    float: left;
    width: 15%;
    height: 8cm;
    box-shadow: 0 8px 6px -6px black;
    margin-bottom: 0.5cm;
    margin-top: 0.5cm;
    border-radius: 8px;
}

.img {
    border-radius: 8px;

}




